<% include header %>
  <!-- End of Navigation Bar -->
    <div class="row">
        <!-- LOCAL INFORMATION -->
         <div class="jumbotron text-center">

           <div class="page-header text-center">
               <h1><span class="glyphicon glyphicon-anchor"></span> Profile Page</h1>
           </div>

           <!-- show any messages that come back with authentication -->
           <% if (message.length > 0) { %>
               <div class="alert alert-success"><%= message %></div>
           <% } %>

            <div class="well">
                <h3><span class="glyphicon glyphicon-user"></span> Your Account Information</h3>

                        <p>ID        <strong> <%= user.id       %></strong><p>
                        <p>Name:     <strong> <%= user.name     %></strong><p>
                        <p>Username: <strong> <%= user.username %></strong><p>
                        <p>Email:    <strong> <%= user.email    %></strong><p>
                        <p>Password: <strong> <%= user.password %></strong><p>
                        <p>You are marked as an <strong><%= user.role %></strong><p><br>

            </div>
            <a href="/admin/update" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user btn-lg"></span> Update Account Information</a>
        </div>
    </div>

</body>
</html>
