<% if (user.role === 'Teacher') { %>
    <% include ../teacher/header %>
<% } else if (user.role === 'Parent'){ %>
    <% include ../parent/header %>
<% } else{ %>
   <% include ../admin/header %>
<% } %>

<div class="jumbotron text-center">
    <h1>Student Information <span class="glyphicon glyphicon-info-sign"></span></h1>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
</div>
<div class="profileEffect">
<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class='studentID' id="<%= studentID %>"></span>
                <td><%= studentName %></td>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/noimage.gif" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Student Name: </td>
                        <td><%= studentName %></td>
                      </tr>
                      <tr>
                        <td>Student Year: </td>
                        <td><%= studentYear %></td>
                      </tr>
                      <tr>
                        <td>Student Email: </td>
                        <td><%= studentEmail %></td>
                      </tr>
                         <tr>
                             <tr>
                        <td>Parents: </td>
                        <td><span class='parentID' id='<%= parentID %>'></span><%= parentName %></td>
                      </tr>
                        <tr>
                        <td>Student Username: </td>
                        <td><%= studentUsername %></td>
                      </tr>
                      <tr>
                      <td>Student Timetable: </td>
                      <td><button type="button" class="btn btn-primary" id="getTimetable">Student Timetable</button></td>
                    </tr>
                    <tr>
                    <td>Student Attendance: </td>
                    <td><button type="button" class="btn btn-primary" id="attendanceInfo">Student Attendance</button></td>
                  </tr>
                <% if (user.role === 'Teacher' || user.role === 'Admin') { %>
                  <tr>
                  <td>Contact Parents: </td>
                  <td><button type="button" class="btn btn-primary" id="contactParents">Contact Parents</button></td>
                </tr>
                <% } %>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" id="contactParents" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    <div class='calendarEffect'>
        <div id ='paddingBottom' class="text-center"><button id="hidecalendar" name="hideAttendance" class="btn btn-primary">Back to Student Profile!</button></div>
  <div id='paddingTop'></div>
    <div id='calendar'></div>
    </div>



    <script type="text/javascript" src="/javascript/user.js"></script>
    </body>
    </html>
